#main{
  background-color: #fdf3f4;
}

.splash-main{
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.logo-img{
  width: 80vw;
}

.nav-bar{
  width: 45%;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  top: 70px;
  color: rgb(153,154,154);
  position: absolute;
}


.nav-bar > ul{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 100%;
  list-style: none;
  /*border-bottom: 2px solid rgba(250,164,181,0.5);*/
}

.nav-bar > ul > li{
  border-radius: 5px 5px 0 0;
  padding: 5px 2px 2px 2px;
  border: none;
  width: 12%;
  text-align: center;
  transition: border-bottom 1s;
}

.nav-bar > ul > li:hover{
  cursor: pointer;
  border-bottom: 1px solid rgba(250,164,181,0.5);
}

.icons{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.icons > a{
  padding: 10px;
}

.icons > a > img{
  height: 25px;
  border-radius: 5px;
}

.icons > a > img:hover{
  background: rgba(250,164,181,0.5);
}
